<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <title>Missing Pets</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') -%>
    <div class="section" id="home">
      <div class="about">
        <h1>Help pets to meet their owner 😊</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          consequatur dolor id a amet! Accusamus ea, praesentium numquam id
          suscipit eveniet tenetur omnis, porro animi, nesciunt laboriosam
          deserunt eius nisi.
        </p>
      </div>
      <div class="about-img"></div>
    </div>
    <div class="section" id="about">
      <div class="about">
        <h1>Help pets to meet their owner 😊</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          consequatur dolor id a amet! Accusamus ea, praesentium numquam id
          suscipit eveniet tenetur omnis, porro animi, nesciunt laboriosam
          deserunt eius nisi.
        </p>
      </div>
      <div class="about-img"></div>
    </div>

    <script src="/js/nav.js"></script>
  </body>
</html>
