<nav class="nav">
  <a href="/" class="logo">Missing Pets</a>

  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>

  <div class="nav__link hide">
    <a href="#home">home</a>
    <a href="#about">about</a>
    <a href="#">report</a>
  </div>
  <div class="nav__link hide" >
      <input
          type="text"
          placeholder="Search..."
        />
       <button>Search</button>
  </div>
  </div>
</nav>
