<nav class="nav">
  <div class="nav_container">
    <a href="/" class="logo">Missing Pets</a>

    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <div class="nav_items">
      <div class="nav_item">
        <a href="#home" class="link_comp">home</a>
        <a href="#about" class="link_comp">about</a>
        <a href="#report" class="link_comp">report</a>
      </div>
      <div class="nav_item">
        <div class="search">
          <input type="text" placeholder="Search..." />
          <button>Search</button>
        </div>
      </div>
    </div>
  </div>
</nav>
